{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Sitemap' %}

{% block head_title widget_title | trans %}

{% block section_title widget_title | trans %}

{% block content %}
    <a href="{{ '/sitemap/generate/generate' }}" class="btn btn-default float-right">{{ 'generate.sitemap' | trans }}</a>
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            {{ sitemapDataTable | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
